body {
    background-color:lightskyblue ;
    color: black;
}

h1 {
    text-align: center;
}

img {
    border-style: dotted;
    border-width: 1em;
    border-color: azure;
}

.section-1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 5em;
}

.section-2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 5em;
} 

.section-3 {
    display: flex;
    flex-direction: row;
    margin-bottom: 5em;
} 

.section-4 {
    display: flex;
    flex-direction: row;
    margin-bottom: 5em;
}

.section-5 {
    display: flex;
    flex-direction: row;
    margin-bottom: 5em;
}

.paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    color: white;
    text-align: center;
}


p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
}

button {
    background-color: whitesmoke;
    border: none;
    color: lightskyblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
  }